<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>Early Warning System</display-name>
  <description>Analyzes courses to identify students in crisis</description>
  
  <servlet>
  	<servlet-name>CourseDisplayServlet</servlet-name>
  	<servlet-class>edu.wvnet.perfdash.CourseDisplay</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>CourseDisplayServlet</servlet-name>
  	<url-pattern>/courseDisplay</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>PreviewServlet</servlet-name>
  	<servlet-class>edu.wvnet.perfdash.Preview</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>PreviewServlet</servlet-name>
  	<url-pattern>/preview</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AccessServlet</servlet-name>
  	<servlet-class>edu.wvnet.perfdash.CheckAccess</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>AccessServlet</servlet-name>
  	<url-pattern>/checkAccess</url-pattern>
  </servlet-mapping>

</web-app>
